body {
    background-color: #818589;
}
div.head-div{
    padding-bottom: 5%;
    background-color: rgb(139, 0, 104);
    overflow: visible;
    box-shadow: 0 5px  5px 0 rgba(0,0,0,0.5);
}
h1.title {
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
    font-style: oblique;
    color: rgb(255, 255, 255);
}
div.center-div{
    padding : 1%;
    text-align: center;
    align-items:center;
}

p#main-sentiment-output{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 1%;
    background-color:rgb(139, 0, 104);;
    color: white;
    margin: 0 auto;
    width: 400px;
    font-family: Georgia, Times, 'Times New Roman', serif;

}
button.audioButton{

    color: white;
    background-color: green;
    text-align: center;
    border: none;
    padding: 30%;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 5px  5px 0 rgba(0,0,0,0.5);
}
img.armor-knight-left{
    width: 200px;
    border-radius:100px;
   padding-top: 5%;
    

}
img.armor-knight-right{
    width: 200px;
    transform: scaleX(-1);
    border-radius:100px;
    padding-top: 5%;
}
textarea{
    outline: none;
    resize: none;
    padding: 1%;
    border-radius: 10px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    text-align: right;
    color: white;
}
div.box{
    padding: 5%;
    background-color: rgb(139, 0, 104);;
}
button.sentimentButton{
    color: white;
    background-color: green;
    text-align: center;
    border: none;
    display: inline-block;
    font-size: 16px;
    padding: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 5px  5px 0 rgba(0,0,0,0.5);
}
audio.div{
    padding-top: 10%;
}
h2{
    text-align: center;
    padding: 5%;
}

textarea.transcript{
    padding: 1%;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.main-sentiment-div{
text-align: center;

padding: 10%;
}
div.left-div{
    float: left;
    padding-left: 10%;
    
}
div.right-div{
    
    float: right;
    padding-right: 10%;

}
div.left-div-url{
    float: left;
    padding-left: 20%;
    font-size: 30px;
}
div.right-div-url{
    
    float: left;

}
#AudioAnalysis {
    width: 98%;
    font-size: 20px;
}
#ChivalryMessage {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 1%;
    background-color:rgb(139, 0, 104);;
    color: white;
    margin: 0 auto;
    width: 400px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
#TranscriptLoading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: none;
}
#Spinner{
    height: 100px;
    width: 100px;
}
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
.file-input label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    position: relative;
    width: 400px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 30px;
    background-color:rgb(139, 0, 104)
}  

.file-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    background-color:rgb(139, 0, 104);
    width: 200px;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
    padding: 10px;
    padding-bottom: 20px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }  

